
<%= render('/layouts/navbar') %>
<div class="container">
<h2>Welcome to the Wildlife Tracker! </h2>
<h3> The latest news on recent sightings in the area!</h3>

<h2 class="sub-header">Current Sightings</h2>
          <div class="table-responsive">
            <table class="table ">
              <thead>
                <tr>
                  <th>Reported By</th>
                  <th>Date</th>
                  <th>Animal</th>
                  <th>Region</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                </tr>
              </thead>
              <tbody>
                <% if !@sightings.present? %>
                    <p>You have no sightings to list</p>
                <% else %>
                  <% @sightings.each do |sighting| %>
                    <tr>
                      <td><%= sighting.person_name%></td>
                      <td><%= sighting.sight_date%></td>
                      <td><%= Animal.find(sighting.animal_id).name %></td>
                      <td><%= Region.find(sighting.region_id).name %></td>
                      <td><%= sighting.latitude %></td>
                      <td><%= sighting.longitude %></td>
                      <td><a href="sightings/sighting.id/edit">Edit</a></td>
                      <td><a href="sightings/sighting.id/destroy">Delete</a></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
<br>
<p><a href="/sightings/new"> Create a New Sighting </a></p>
<br><br>
<div class="footer">
<p> Created by Linda and Peggy - Summer 2014</p>
</div>


</div>

 <!--  def between
    @sighting = Sighting.where(sighting_start_date < @sighting.date && @sighting.date < sighting_end_date)
    render ('sightings/index.html.erb')
  end

  def animal_sighting(animal)
    @sighting = Sighting.where(sightings.animal.name = animal)
    render ('sightings/animal_sighting.html.erb')
  end

  def region_sighting(region)
    @sighting = Sighting.where(sightings.region.name = region)
    render ('sightings/region_sighting.html.erb')
  end
 -->
