<h2> New Sighting </h2>

<% if @sighting.errors.any? %>
  <h3>Please fix these errors</h3>

  <ul>
    <% @sighting.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <%end%>
  </ul>
<%end%>

<form action="/sightings" method="post">
  <label for="date">Date</label>
  <input id="date" name="sight_date" type="date" value="<%= @sighting.sight_date %>" placeholder="YYYY-MM-DD">

<div style="padding-bottom:20px">
      Animal: <select form="sightings" name="animal[id]" style="width:100px;margin-right:20px">
        <% if !@animals.present? %>
          <p>You have no animals to list</p>
        <% else %>
          <% @animals.each do |animal| %>
            <option value ="<%=animal.id %>"> <%= animal.name %> </option>
          <% end %>
          <% end %>
      </select>

      Region: <select name="region[id]" style="width:100px">
      <% if !@regions.present? %>
        <p>You have no regions to list</p>
      <% else %>
        <% @regions.each do |region| %>
          <option value ="<%=region.id %>"> <%= region.name %> </option>
        <% end %>
      <% end %>
      </select>
</div>

<div class=form-group>
  <label for="latitude">Latitude</label>
  <input id="latitude" name="latitude" type="text" value="<%= @sighting.latitude %>" >
  <label for="longitude">Longitude</label>
  <input id="longitude" name="longitude" type="text" value="<%= @sighting.longitude %>" >
</div>

  <button class= btn btn-small btn-primary>Create sighting</button>
</form>
