
<%= render('/layouts/navbar') %>
<h2> New Sighting </h2>

<% if @sighting.errors.any? %>
  <h3>Please fix these errors</h3>

  <ul>
    <% @sighting.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <%end%>
  </ul>
<%end%>

<form id="sightings" role="form" action="/sightings" method="post">
  <label for="date">Date</label>
  <input id="date" name="sighting[sight_date]" type="date" value="<%= @sighting.sight_date %>" placeholder="YYYY-MM-DD">
  <label for="person_name">My Name</label>
  <input id="person_name" name="sighting[person_name]" type="text" value="<%= @sighting.person_name %>" placeholder="John Doe">

<div style="padding-bottom:20px">
        Animal: <select form="sightings" name="sighting[animal_id]" style="width:100px;margin-right:20px">
          <% @animals.each do |animal| %>
            <option value ="<%=animal.id %>"> <%= animal.name %> </option>
          <% end %>
      </select>

      Region: <select name="sighting[region_id]" style="width:100px">
        <% @regions.each do |region| %>
          <option value ="<%=region.id %>"> <%= region.name %> </option>
        <% end %>
      </select>
</div>

<div class=form-group>
  <label for="latitude">Latitude</label>
  <input id="latitude" name="sighting[latitude]" type="text" value="<%= @sighting.latitude %>" >
  <label for="longitude">Longitude</label>
  <input id="longitude" name="sighting[longitude]" type="text" value="<%= @sighting.longitude %>" >
</div>

  <button class= btn btn-small btn-primary>Create sighting</button>
</form>
